.postcont {
  background-color: #7C94B5;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #7C94B5;
}

section {
  padding: 15px;
  background-color: lightsteelblue;
}

pre {
  padding-left: 10px;
  border-left: 2px solid black;
  background: lightgrey;
}

code {
  font-size: 200%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}