$codebg: #8f8c8c;

.postcont {
  background-color: rgb(78, 49, 87);
  padding: 0px;
  margin: 0px;
}

body {
  background-color: rgb(78, 49, 87);
}

section {
  padding: 15px;
  background-color: lightsteelblue;
}

code {
  // background-color: #808080;
}

pre {
  padding-left: 10px;
  border-left: 2px solid black;
  background-color: $codebg;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}