$shadow: 8px 8px teal;

.postitem {
  width: 60rem;
  padding: 10px;
  // border: 2px dashed red;
  // border-radius: 10px;
}

.postitemcard {
  background-color: teal;
  box-shadow: $shadow;
}

.featuredheader {
  font-size: xx-large;
  font-weight: bold;
}

.carddate {
  font-size: medium;
}

.cardtext {
  font-size: large;
}

.cardtext {
  font-size: large;
}

.posttag {
  // margin: 30px;
  box-shadow: $shadow;
}
